*{
    margin: 0ch;
    padding: 0.5ch;
}

body{
    background-color:"#000";
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
html { overflow-y: hidden; }

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@font-face{
    font-family: "BrattGraner";
    src: url(../tipografia/Bratt_Graner.ttf);
    font-family: "Brushia";
    src:url(../tipografia/BRUSHIA.ttf)
}

.titulo{
    font-family: "Brushia";
    font-size: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

